@charset "UTF-8";
/*global variables*/
/*Breakpoints
Phone 
Tablet Portrait
Tablet Landscape
Desktop


600px
800px
1000px
1200px
1800px
*/
/*Universal Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: 'Chelsea Market', cursive; }

/*Header*/
.header {
  position: relative;
  height: 100vh;
  background-image: url(../image/ramon-salinero-vEE00Hx5d0Q-unsplash.jpg);
  /* Photo by Ramón Salinero on Unsplash */
  background-size: cover;
  background-position: left; }
  @media (max-width: 600px) {
    .header {
      background-position: center; } }

.heading-primary {
  text-align: center;
  color: #fff; }

.heading-primary--main {
  padding-top: 30px;
  display: block;
  font-size: 30px; }
  @media (max-width: 600px) {
    .heading-primary--main {
      font-size: 20px; } }

.heading-primary--sub {
  display: block;
  font-size: 20px; }
  @media (max-width: 600px) {
    .heading-primary--sub {
      font-size: 10px; } }

.header__list {
  padding: 10px;
  list-style-type: none;
  color: #fff;
  float: left; }

@media (max-width: 600px) {
  .navbar-brand {
    margin-top: 10px;
    font-size: 16px; } }

.navbar {
  padding: 5.5px; }

.header__secondary {
  display: block;
  position: absolute;
  top: 40%;
  left: 10%; }

.heading-secondary {
  width: 50%;
  display: block;
  font-size: 16px;
  color: #fff; }
  @media (max-width: 600px) {
    .heading-secondary {
      width: 90%;
      font-size: 12px; } }

/*
.nav{
    position: absolute;
    top: 20%;
    left:4%;
    
    
}
.header__list{
    padding: 10px;
    list-style-type: none;
    color:$color-primary;
    float:left;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
a:active,
a:visited{
    color:$color-primary;
    text-decoration: none;
    cursor: pointer;
}


*/
.hobbies {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #fff; }

table, th, td {
  border: 1px solid #fff;
  border-collapse: collapse; }

table {
  width: 100%; }

th, td {
  padding: 5px;
  text-align: center; }

.heading-tertiary {
  text-align: center;
  color: #fff; }
  @media (max-width: 600px) {
    .heading-tertiary {
      width: 90%;
      font-size: 12px; } }

.header__secondary--blog {
  display: block;
  position: absolute;
  top: 40%;
  left: 10%; }

.row {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%); }
  @media (max-width: 600px) {
    .row {
      width: 90%;
      font-size: 12px; } }

.row-box {
  color: #000;
  background-color: rgba(15, 18, 168, 0.692);
  border-radius: 4px;
  padding: 0;
  width: 40%;
  padding: 0 0 10px 0; }
  @media (max-width: 600px) {
    .row-box {
      width: 50%;
      font-size: 10px;
      margin: 10px; } }

.row-image--1 {
  color: #fff;
  margin: 0;
  border-radius: 2px;
  width: 100%; }

.row-image--2 {
  color: #fff;
  margin: 0;
  border-radius: 2px;
  width: 100%; }

.grid-span {
  /*color: rgb(139, 205, 236);*/ }

.link-blog:link,
.link-blog:visited {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  transition: all .2s; }
  @media (max-width: 600px) {
    .link-blog:link,
    .link-blog:visited {
      width: 50%;
      font-size: 10px; } }

.link-blog:hover,
.link-blog:active {
  color: #fff;
  box-shadow: 0.1rem 0.1rem 1rem green;
  transform: scale(1.3); }
